.dashboardLayout {
  display: flex;
  height: 100vh;
  width: 100%;
}


.content {
  flex: 1;
  background: #b3121d;
  padding: 24px;
  overflow-y: auto;
  display: flex;
  width: 100%;
}

.content-full{
  width: 100%;
}